

@font-face {
    font-family: 'gelionblack';
    src: url('gelion-black-webfont.woff2') format('woff2'),
         url('gelion-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelionblack_italic';
    src: url('gelion-blackitalic-webfont.woff2') format('woff2'),
         url('gelion-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelion_boldbold';
    src: url('gelion-bold-webfont.woff2') format('woff2'),
         url('gelion-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelion_bold_italicbold_italic';
    src: url('gelion-bolditalic-webfont.woff2') format('woff2'),
         url('gelion-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelionlight';
    src: url('gelion-light-webfont.woff2') format('woff2'),
         url('gelion-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelionlight_italic';
    src: url('gelion-lightitalic-webfont.woff2') format('woff2'),
         url('gelion-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelionmedium';
    src: url('gelion-medium-webfont.woff2') format('woff2'),
         url('gelion-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelionmedium_italic';
    src: url('gelion-mediumitalic-webfont.woff2') format('woff2'),
         url('gelion-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelion_regularregular';
    src: url('gelion-regular-webfont.woff2') format('woff2'),
         url('gelion-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelionregular_italic';
    src: url('gelion-regularitalic-webfont.woff2') format('woff2'),
         url('gelion-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelionsemi_bold';
    src: url('gelion-semibold-webfont.woff2') format('woff2'),
         url('gelion-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gelionsemi_bold_italic';
    src: url('gelion-semibolditalic-webfont.woff2') format('woff2'),
         url('gelion-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}